.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-gray;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #444444;
  transition: 500ms;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
