.container {
  padding: 0 9%;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 6.5%;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
