.main-navigation__main-list,
.main-navigation__user-list,
.main-navigation__extra-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__extra-list {
  display: none;
}

.main-navigation__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 79px;
  border-bottom: 1px solid #ececec;
}

.main-navigation__button-close {
  position: absolute;
  right: 9.3%;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    margin-left: -12px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 79px;
  padding-left: 23.75%;
  border-bottom: 1px solid #ececec;
}

.main-navigation__link {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.2);
  }
}

.main-navigation__icon {
  position: absolute;
  left: -44px;
  top: 50%;
  margin-top: -9px;
  fill: rgba(0, 0, 0, 0.2);
}

.main-navigation__link:hover .main-navigation__icon,
.main-navigation__link:focus .main-navigation__icon {
  fill: #6ad3be;
  opacity: 1;
}

.main-navigation__link:active .main-navigation__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: 88px;
    padding: 0 6.5%;
  }

  .main-navigation__logo {
    position: absolute;
    justify-content: flex-start;
    border: none;
  }

  .main-navigation__button-close {
    display: none;
  }

  .main-navigation__main-list,
  .main-navigation__user-list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-navigation__main-list {
    position: relative;
    top: 70px;
    width: 47.9%;
  }

  .main-navigation__user-list {
    min-width: 51.94%;
  }

  .main-navigation__item {
    min-height: 88px;
    padding-left: 0;
    border: none;
  }

  .main-navigation__main-item {
    align-items: stretch;
    min-height: 40px;
    margin-right: 36px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .main-navigation__main-link {
    font-size: 15px;
    line-height: 24px;
  }

  .main-navigation__search {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-width: 24.1%;
    padding-top: 35px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .main-navigation__search-icon {
    position: static;
  }

  .main-navigation__search-text {
    display: none;
  }

  .main-navigation__cart {
    display: flex;
    justify-content: flex-end;
    min-width: 75.9%;
  }

  .main-navigation__icon {
    left: -52px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    position: relative;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    padding: 0 4.2%;
  }

  .main-navigation__logo {
    top: 50%;
    left: 50%;
    justify-content: center;
    margin-top: -36px;
    margin-left: calc(-14.19% / 2);
    width: 14.19%;
  }

  .main-navigation__main-list {
    position: static;
    order: -1;
    width: 35.71%;
  }

  .main-navigation__main-item {
    align-items: center;
    width: 50%;
    margin: 0;

    &:nth-child(odd) {
      border-right: 1px solid #ececec;
    }

    &:nth-child(even) {
      justify-content: flex-end;
    }
  }

  .main-navigation__main-link {
    font-size: 17px;
    line-height: 24px;
  }

  .main-navigation__user-list {
    min-width: 33.33%;
  }

  .main-navigation__search {
    align-items: center;
    min-width: 23.71%;
    padding: 0;
  }

  .main-navigation__cart {
    width: 76%;
  }

  .main-navigation__cart-link {
    width: 68.43%;
  }

  .main-navigation__extra-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 69.52%;
    padding: 0;
    margin: 0;
    margin-bottom: -60px;
    list-style: none;
  }

  .main-navigation__extra-item {
    min-height: auto;
    margin-right: 63px;
  }

  .main-navigation__extra-link {
    font-size: 15px;
    line-height: 24px;
  }
}
