.order {
  padding-bottom: 55px;
}

.order__title {
  width: 92%;
  margin: 0;
  padding: 25px 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.order__fieldset {
  position: relative;
  margin-bottom: 40px;
  padding-top: 32px;
  border: none;
  border-top: 1px solid #62d1ba;
}

.order__fieldset-contact {
  padding-top: 9px;
}

.order__fieldset-textarea {
  margin-bottom: 0;
}


.order__legend {
  position: absolute;
  top: -8px;
  padding-right: 27px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  text-align: left;
  background-color: #ffffff;
  z-index: 1;
}

.order__radio-wrapper,
.order__checkbox-wrapper {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-bottom: 22px;
  padding-left: 63px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.order__label {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.order__label-toggle {

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -62px;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
  }
  
  &:hover::before,
  &:focus::before {
    border-color: #62d1ba;
  }
    
  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.order__label-toggle--radio::before {
  border-radius: 50%;
}  
  
.order__radio:checked + .order__label-toggle--radio::before {
  background-color: #62d1ba;
  box-shadow: inset 0 0 0 10px #ffffff;
}

.order__checkbox:checked + .order__label-toggle--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.order__fullname-wrapper {
  margin-bottom: 24px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.order__contact {
  width: 100%;
  height: 52px;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  
  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }
  
  &:hover + svg,
  &:focus + svg {
    opacity: 1;
    fill: #62d1ba;
  }
}

.order__tel,
.order__email {
  position: relative;
  padding-right: 40px;
}

.order__tel + svg,
.order__email + svg {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
  opacity: 0.2;
}

.order__textarea {
  width: 100%;
  padding: 17px;
  min-height: 142px;
  border: 2px solid #444444;
  
  &:hover,
  &:focus {
    border-color: #62d1ba;
    outline: none;
  }
}

.order__mandatory {
  margin-top: 17px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

@media(min-width: $tablet-width) {
  .order {
    padding-bottom: 50px;
  }
  
  .order__title {
    padding-top: 62px;
    padding-bottom: 5px;
    font-size: 17px;
    line-height: 30px;
  }
  
  .order__container--gray {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f1f1f1;
  }
  
  .order__fieldset {
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 167px;
    border: none;
  }
  
  .order__fieldset-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 26px;
  }
  
  .order__fieldset-contact {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 25px;
  }
  
  .order__legend {
    top: 65px;
    left: 0;
    padding: 0;
    background-color: transparent;
  }
  
  .order__legend-contact {
    top: 20px;
  }
  
  .order__checkbox-wrapper {
    width: 50%;
    margin-bottom: 24px;
    
    &:last-child {
      margin-bottom: 24px;
    }
  }
  
  .order__fullname-wrapper {
    display: flex;
    align-items: baseline;
  }
  
  .order__label {
    font-size: 19px;
    line-height: 19px;
  }
  
  .order__label-fullname {
    margin-right: 25px;
  }
  
  .order__contact {
    padding-left: 17px;
  }
  
  .order__contact--gray {
    background-color: #f1f1f1;
  }
  
  .order__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .order__button {
    order: -1;
    width: 230px;
  }
}

@media(min-width: $desktop-width) {
  .order__title {
    width: 850px;
    padding-bottom: 12px;
    padding-left: 175px;
  }
  
  .order__fieldset {
    padding-left: 175px;
  }
  
  .order__legend {
    left: 61px;
  }
  
  .order__checkbox-wrapper {
    width: 33.33%;
  }
  
  .order__fullname-wrapper,
  .order__contact-wrapper {
    padding-right: 175px;
  }
  
  .order__tel + svg,
  .order__email + svg {
    right: 183px;
  }
  
  .order__fieldset-textarea {
    padding-right: 175px;
  }
  
  .order__inner {
    padding: 0 175px;
  }
}