.page-header {
  position: relative;
  z-index: 1;
}

.page-header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__delivery {
    display: inline-block;
    width: 281px;
    padding-top: 18px;
    padding-left: 50px;
    margin-left: auto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }
}
