@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "global.scss";
@import "blocks/container.scss";
@import "blocks/page-header.scss";
@import "blocks/main-navigation.scss";
@import "blocks/services.scss";
@import "blocks/product-week.scss";
@import "blocks/button.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
